<div class="row row-margin">
  <div class="col-lg-4">
    <div class="form-group row">
      <label for="title" class="col-lg-3 col-form-label">Titulek</label>
      <div class="col-lg-9">
        <input type="text" [disabled]="disabled" [(ngModel)]="baseSelection.title" class="form-control" id="title" placeholder="Kratky popis">
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-lg-3 col-form-label">Popis</label>
      <div class="col-lg-9">
        <textarea [disabled]="disabled" [(ngModel)]="baseSelection.description" class="form-control" id="description" placeholder="Popis"
          rows="3"></textarea>
      </div>
    </div>
  </div>


  <div class="col-lg-4">
    <app-select-list label="Kategorie" [(ngModel)]="baseSelection.selectedCategory" [items]="categories" [disabled]="disabled">
    </app-select-list>

    <app-select-list label="Zdroj" [(ngModel)]="baseSelection.selectedSource" [items]="sources" [disabled]="disabled">
    </app-select-list>

    <app-select-list label="Licence" [(ngModel)]="baseSelection.selectedLicense" [items]="licenses" [disabled]="disabled">
    </app-select-list>
  </div>

  <div class="col-lg-4">
    <label for="addGalleryCheckbox">Vytvořit galerii</label>
    <input id="addGalleryCheckbox" type="checkbox" [(ngModel)]="baseSelection.addGallery">

    <input type="radio" name="galleryType" ()>
    <input type="radio" name="gender" value="female"> Female<br>

    <div *ngIf="baseSelection.addGallery && baseSelection.selectedGalleryType === SelectedGalleryTypeEnum.Match">
      <app-select-list label="Rocnik" [(ngModel)]="baseSelection.selectedSeason" [items]="seasons" [disabled]="disabled" (selectionChanged)="loadNewMatches()">
      </app-select-list>

      <app-select-list label="Tym" [(ngModel)]="baseSelection.selectedTeam" [items]="teams" [disabled]="disabled" (selectionChanged)="loadNewMatches()">
      </app-select-list>

      <app-select-list label="Zapas" [(ngModel)]="baseSelection.selectedMatch" [items]="matches" [disabled]="disabled">
      </app-select-list>
    </div>


  </div>
</div>
