<div class="row">
  <div class="col-sm-2">
    <img [src]="url" width="100px" height="100px" />
  </div>

  <div class="col-sm-8">
    <app-file-metadata [categories]="categories" [sources]="sources" [(baseSelection)]="selectionModel">
    </app-file-metadata>
  </div>

  <div class="col-sm-2">

    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="useBaseSelection" (change)="onUseBaseSelectionChanged($event)">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Hromadne</span>
    </label>

    <div>
      Index <span>{{index + 1}}</span>
    </div>
    <div>
      <button (click)="onDeleteItem()" type="button" class="btn btn-danger">Vymazat</button>
    </div>
  </div>
</div>
