.file-item {
  border: 5px dashed gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.upload-success {
  border-color: green !important;
}

.action-col > div {
  margin-bottom: 15px;
}
